*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/workspace
bin/
target/
state/
*.local.launch
Copy of *.launch
*~
~*.docx
~*.pptx
com.chronon.sb.browser.launcher.prefs
Corel Auto-Preserve/
.DS_Store
