<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.oomph.console.application"
         name="Console Launcher application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.oomph.console.application.ConsoleLauncherApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.oomph.console.application"
            name="Eclipse Installer Console">
         <property
               name="appName"
               value="Eclipse Installer Console">
         </property>
      </product>
   </extension>
</plugin>
